################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/pruebagit/FileContentIndex/1927af13-d370-4470-91a1-631355654f3f.vsidx
/.vs/pruebagit/FileContentIndex
